*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.navbar__s1{
    display: flex;
    font-weight: 600;
}

.navbar__logo{
    height: 50px;
}

.navbar__s2{
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 40px;
}

.navbar__s3{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.navbar__s3-button{
    background-color: black;
    color: white;
    padding: 13px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

/* Heading */

.heading{
    margin-top: 50px;
    text-align: center;
}

.heading__title{
    font-weight: 600;
    font-size: 40px;
}

/* Features */

.features{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
}

.features p{
    padding: 2px;
    align-items: center;
}

.features p:hover{
    border-bottom: solid black 2px;
}

.features img{
    width: 25px;
    margin-right: 5px;
    align-items: center;
}

.features__first{
    border-bottom: solid black 2px;
}

/* Search Bar */

.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.searchbar__outline{
    width: 50%;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    border: solid #E0E0E0 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.searchbar img{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
}

.searchbar input{
    width: 80%;
    padding: 15px;
    border: none;
}

.searchbar input:focus{
    outline: none;
}

.searchbar__searchbutton{
    font-weight: bold;
    width: 13%;
    padding: 20px;
    background-color: #84E9BD;
    border: none;
    border-radius: 30px;
}

.searchbar__searchbutton:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* Ad */

.ad__section{
    margin-top: 50px;
}

.ad__container{
    width: 80%;
}

.ad__container img{
    width: 100%;
}